<!DOCTYPE html>
<html lang="ja">

<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
  <style type="text/css">
    .info{
      font-size:30px;
      color:#ff69b4;
    }

    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
        </div>
      <div class="info">近日中にチャンネル機能実装予定</div>
      <div class="minfo">作成者:なかにい</div>
    </body>

</html>
